/* shared style */
.flex {
    display: flex;
}

* li,
a {
    list-style: none;
    text-decoration: none;
}

.primary-btn {
    border: none;
    border-radius: 10px;
    padding: 25px;
    margin-top: 35px;
    margin-bottom: 50px;
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

/* colors */
.dark1 {
    color: rgba(19, 19, 19, 1);
}

.dark2 {
    color: rgba(66, 66, 66, 1);
}

.dark3 {
    color: rgba(114, 114, 114, 1);
}

.orange {
    color: rgba(255, 144, 14, 1);
}

/* fonts */


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* header */

.header-bg {
    background-color: rgba(255, 144, 14, 0.1);
}


/* navbar section */

.navbar {
    max-width: 1440px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 7vw;
}

.navbar ul {
    gap: 50px;
    margin-right: 7vw;
}

.navbar-anchors a {
    font-size: 1rem;
    font-weight: 500;
}

/* banner section */

.banner {
    max-width: 1440px;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
}

.banner-content {
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
}

.banner img {
    margin: 0px 7vw;
    max-width: 84%;
    margin-bottom: 40px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
}

/* quick-feature section */

.quick-feature {
    display: flex;
    max-width: 1440px;
    margin: 0px auto;
    align-items: center;
}

.quick-feature-pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10vh 0px 10vh 7vw;
    gap: 15px;
}

.quick-feature-pics img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.quick-feature-details {
    margin-left: 7vw;
    margin-right: 7vw;
}

.quick-feature-title {
    font-size: 2.9rem;
    font-weight: 700;
}

.quick-feature-description {
    font-size: 1rem;
    font-weight: 400;
}

/* features section */
.features {
    max-width: 1440px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
}

.features-details {
    max-width: 40vw;
    max-height: 782px;
    margin: 3rem 1rem 3rem 6rem;
}

.features-title {
    margin: 0px;
    font-size: 2.8rem;
    font-weight: 700;
}

.features-description {
    font-size: 1rem;
    font-weight: 400;
}

.features-cards {
    flex-direction: column;
    margin-left: 4rem;
    gap: 20px;
}

.feature-card {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    max-height: 18vh;
    max-width: 80vw;
    padding: 20px;
}

.feature-card-title {
    margin: 0px;
    font-size: 1rem;
    font-weight: 600;
}

.feature-card-description {
    font-size: .75rem;
    font-weight: 400;
}

.features-img {
    margin-right: 6rem;
}

.features-img img {
    width: 30vw;
}

.features-img-box {
    border: 1px solid;
    max-width: 8rem;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 10px;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0px;
    padding: 2rem;
    position: relative;
    top: -50px;
    right: 50px;
}

#features-img-box-title {
    margin: 0px;
    font-size: 2rem;
    font-weight: 700;
}

#features-img-box-description {
    font-size: 0.7rem;
    font-weight: 400;
}


@media screen and (max-width:576px) {

    /* navbar section */
    .navbar {
        flex-direction: column;
        max-width: 576px;
        margin: 0px auto;
        align-items: center;
    }

    .navbar-title {
        font-size: 3rem;
        font-weight: 700;
        margin: 30px 0px;
    }

    /* quick-feature section */

    .quick-feature {
        flex-direction: column;
        max-width: 576px;
        margin: 0px auto;
        align-items: center;
    }

    .quick-feature-pics {
        margin: 0px;
    }

    .quick-feature-pics img {
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }

    .quick-feature-details {
        text-align: center;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    /* features */

    .features {
        display: flex;
        flex-direction: column;
        max-width: 576px;
        margin: 0px auto;
        align-items: center;
    }
    .features-details {
        display: flex;
        flex-direction: column;
        max-width: 576px;
        margin: 0px auto;
        align-items: center;
        text-align: center;
    }

    .features-description{
        margin: 1rem;
    }
    .features-cards{
        margin: 0px;
    }

    .features-img{
        margin-left: 8rem;
    }

    .features-img img{
        width: 60vw;
        margin-top: 2rem;
    }


}